
@using eCozaStore.Models;
@using eCozaStore.Utilities;
@using PagedList.Core.Mvc;

@model eCozaStore.Models.ChangePassword;

@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-d-desktop">
    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a asp-controller="Home" asp-action="Index" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <a href="#" class="stext-109 cl8 hov-cl1 trans-04">
                Đổi mật khẩu
            </a>
        </div>
    </div>

    <div class="container p-t-65">
        <div class="row">

            <div class="col-sm-10 col-lg-7 col-xl-3 m-lr-auto m-b-50 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bor10 p-lr-40 p-t-30 p-b-30 m-l-63 m-lr-0-xl p-lr-15-sm" style="margin-left: 24px;">
                    <ul class="sidebar-link w-full" style="padding: 0;">
                        <li class="p-b-11 p-t-11">
                            <a asp-action="Index" asp-controller="MyAccount" class="stext-102 cl2 hov-cl1 trans-04">
                                <i class="fa-solid fa-user  m-r-10" aria-hidden="true"></i>
                                Quản lý hồ sơ
                            </a>
                        </li>

                        <li class="p-b-11 p-t-11">
                            <a asp-action="Order" asp-controller="Cart" class="stext-102 cl2 hov-cl1 trans-04">
                                <i class="fa-solid fa-square-check  m-r-10" aria-hidden="true"></i>
                                Quản lý đơn hàng
                            </a>
                        </li>

                        <li class="p-b-11 p-t-11">
                            <a asp-route="MyAddress" class="stext-102 cl2 hov-cl1 trans-04">
                                <i class="fa-solid fa-location-dot  m-r-10" aria-hidden="true"></i>
                                Quản lý địa chỉ
                            </a>
                        </li>

                        <li class="p-b-11 p-t-11 section-title section-title-sm position-relative">
                            <a href="#" class="stext-102 cl2 hov-cl1 trans-04 section-title section-title-sm" style="color: #007bff;">
                                <i class="fa-solid fa-lock  m-r-10" aria-hidden="true"></i>
                                Đổi mật khẩu
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-10 col-xl-9 m-lr-auto m-b-50 wow fadeInUp" data-wow-delay="0.1s">

                <div class="m-l-25 m-lr-0-xl m-b-38 table-border-boxshadow" style="box-shadow: 0px 0px 4px rgb(0 0 0 / 22%); padding: 28px; border-radius: 10px;">

                    <div style="text-align: center; font-size: 20px;">ĐỔI MẬT KHẨU</div>
                    <div class="m-t-4" style="text-align: center; font-size: 15px;">Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</div>

                    <form asp-controller="MyAccount" asp-action="ChangePassword" method="post" enctype="multipart/form-data" style="margin-top: 28px;">

                        <div class="row">
                            <div class="col-lg-10 col-xl-8 m-lr-auto">

                                <div asp-validation-summary="All" class="text-danger" style="text-align: center;"></div>

                                <div class="flex-m form-group">
                                    <label style="margin: 0 28px 0  0; width:30%; text-align: right;">Mật khẩu hiện tại</label>
                                    <div class="" style="width: 70%">
                                        <input asp-for="PasswordNow" type="password" class="form-control"  autocomplete="off">
                                    </div>
                                </div>

                                <div class="flex-m form-group">
                                    <label style="margin: 0 28px 0  0; width:30% ; text-align: right;">Mật khẩu mới</label>
                                    <div class="" style="width: 70%">
                                        <input asp-for="Password" type="password" class="form-control" autocomplete="off">
                                    </div>
                                </div>

                                <div class="flex-m form-group">
                                    <label style="margin: 0 28px 0  0; width:30% ; text-align: right;">Xác nhận mật khẩu</label>
                                    <div class="" style="width: 70%">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" autocomplete="off">
                                    </div>
                                </div>

                                <div class="flex-m form-group" style="margin: 0">
                                    <label style="margin: 0 28px 0  0; width:30% ; text-align: right;"></label>
                                    <div class="" style="width: 70%">
                                        <div class="text-danger">@ViewBag.Error</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-10 col-lg-7 col-xl-4 m-lr-auto">
                                <a asp-route="ForgotPass"> Quên mật khẩu ?</a>
                            </div>

                        </div>

                        <div class="mb-3 m-t-18">
                            <div class="col-sm-12 m-l-60">
                                <input type="submit" value="Xác nhận" class="btn btn-primary" style="font-weight: 400; border-radius: 50px; min-width: 100px;" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>