
@model eCozaStore.Models.TblPost;

@{
    ViewData["Title"] = "Sửa bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="p-d-desktop">
    <!-- Content page -->
    <section class="bg0 p-t-52 p-b-20">
        <div class="container">
            <!-- form đăng bài viết -->
            <div class="flex-m ">
                <div class="flex-m container" style=" ">
                    <div class="bg0 p-lr-15-lg how-pos3-parent" style="padding: 32px; box-shadow: 0px 0px 4px rgb(0 0 0 / 22%); border-radius: 10px;     width: 100%;">
                        <div style="text-align: center; font-size: 20px;">CHỈNH SỬA BÀI VIẾT</div>

                        <form asp-controller="MyAccount" asp-action="EditMyPost" method="post" enctype="multipart/form-data" style="margin-top: 28px;">

                            <input type="hidden" asp-for="Thumb" />
                            <input type="hidden" asp-for="CreatedDate" />
                            <input type="hidden" asp-for="Author" />
                            <input type="hidden" asp-for="PostId" />
                            <input type="hidden" asp-for="Published" />
                            <input type="hidden" asp-for="IsActive" />
                            <input type="hidden" asp-for="PostOrder" />
                            <input type="hidden" asp-for="Status" />
                            <input type="hidden" asp-for="Tags" />
                            <input type="hidden" asp-for="Sview" />
                            <input type="hidden" asp-for="IsNewfeed" />
                            <input type="hidden" asp-for="IsHot" />

                            <div class="row">
                                <div class="col-lg-12 col-xl-12">

                                    <div class="flex-m form-group">
                                        <label style="width: 20%; margin: auto;">Tiêu đề</label>
                                        <input asp-for="Title" style="width: 100%" type="text" class="form-control" placeholder="Nhập tiêu đề..." autocomplete="off" style="height: 42px; padding-left: 16px">
                                    </div>

                                    <div class="flex-m form-group">
                                        <label style="width: 20%; margin: auto;"> Mô tả ngắn</label>
                                        <input asp-for="Abstract" style="width: 100%" type="text" class="form-control" placeholder="Nhập mô tả ngắn..." autocomplete="off" style="height: 42px; padding-left: 16px">
                                    </div>

                                    <div class="flex-m form-group">
                                        <div class="flex-m form-group" style="width: 40%">
                                            <label style="width: 75%; margin: auto;"> Danh mục</label>
                                            <select class="form-control" aria-label="Default select example"
                                                    style=" padding-left: 16px"
                                                    asp-for="CategoryId"
                                                    asp-items="@(new SelectList(ViewBag.catList, "Value", "Text"))">
                                            </select>
                                        </div>

                                        <div class="flex-m form-group" style="width: 60%; padding-left: 10%">
                                            <label style="width: 30%; margin: auto;"> Ảnh đại diện</label>
                                            <input asp-for="Thumb" name="fThumb" type="file" class="form-control" autocomplete="off" style=" padding-left: 16px">
                                        </div>
                                    </div>



                                    <div class=" form-group">
                                        <label>Nội dung</label>
                                        <textarea asp-for="Contents" id="summernote" style="width: 100% !important; "> </textarea>
                                    </div>

                                </div>

                            </div>
                            <div class="m-t-18">
                                <div class="col-sm-12 flex-m" style="padding: 0; justify-content: flex-end;">

                                    <button class="btn btn-primary" style="font-weight: 400; border-radius: 50px; min-width: 100px; margin-left: 16px; border-color: #333; color: #fff;">
                                        Lưu lại
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content page -->
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script>
        jQuery(document).ready(function () {

            $('#summernote').summernote({
                placeholder: 'Mời bạn nhập nội dung ...',
                tabsize: 2,
                height: 250,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['height', ['height']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });
    </script>
}

