@model eCozaStore.Models.TblCustomer

@{
    ViewData["Title"] = "Lấy lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">LẤY LẠI MẬT KHẨU</h2>
            </div>
        </div>
        <form asp-action="ForgotPassword" asp-controller="MyAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">

                        <div class="flex-m form-group">
                            <input required asp-for="Phone" placeholder="Số điện thoại..." class="form-control" autocomplete="off" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="flex-m form-group">
                            <input required asp-for="Email" placeholder="Địa chỉ Email..." class="form-control" autocomplete="off" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div

                         <div class="flex-m form-group">
                            <input type="password" required placeholder="Mật khẩu mới..." name="NewPass" class="form-control" autocomplete="off" style="    margin-bottom: 16px;" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="flex-m form-group">
                            <input type="password" required placeholder="Nhập lại mật khẩu mới..." name="NewPass2" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="margin-top: 36px">
                            <button type="submit" class="form-control btn btn-primary submit px-3">XÁC NHẬN</button>
                        </div>

                    </div>
                    
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                         <p class="w-100 text-center text-danger" style="text-align: center; background: rgba(255, 255,255,0.8);border-radius: 10px;">@ViewBag.Error</p>
                         <p class="w-100 text-center">&mdash; Bạn đã có tài khoản ! <a asp-action="Login" asp-controller="Home">Đăng nhập</a> &mdash;</p>
                     </div>
                </div>
            </div>
        </form>
    </div>
</section>


