@using eCozaStore.Models;
@using eCozaStore.Utilities;
@model IList<TblProduct>

<!-- Related Products -->
<section class="sec-relate-product bg0 p-t-45 p-b-105 wow fadeInUp" data-wow-delay="0.1s">
	<div class="container">
		<div class="p-b-45">
			<h3 class="ltext-106 cl5 txt-center">
				Sản phẩm liên quan
			</h3>
		</div>

		<!-- Slide2 -->
		<div class="wrap-slick2">
			<div class="slick2">
				@foreach(var item in Model)
				{

					String Url = Functions.TitleSlugGeneration("product", item.ProductName, item.ProductId);

					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="@item.Thumb" alt="IMG-PRODUCT">

								<a href="/@Url" class="block2-btn btn-box-shadow flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 xxxjs-show-modal1">
									Xem ngay
								</a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="/@Url" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										@item.ProductName
									</a>

									<span class="stext-105 cl3">
										@String.Format("{0:0,00}", item.Price) đ
									</span>
								</div>

								<div class="block2-txt-child2 flex-r p-t-3">
									<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
										<img class="icon-heart1 dis-block trans-04" src="../files/images/icons/icon-heart-01.png" alt="ICON">
										<img class="icon-heart2 dis-block trans-04 ab-t-l" src="../files/images/icons/icon-heart-02.png" alt="ICON">
									</a>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</section>