<!doctype html>
<html lang="en">
<head>
	<title>Đăng nhập</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Google Web Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/assets/css/styleLogin.css">

</head>
<body class="img js-fullheight" style="background-image: url(../files/images/background/bg.jpg);">

	@RenderBody()
	
	<script src="~/assets/js/jquery.min.js"></script>
	<script src="~/assets/js/popper.js"></script>
	<script src="~/assets/js/bootstrap.min.js"></script>
	<script src="~/assets/js/login.js"></script>

</body>
</html>